body {
    background-color: #293241;
    display: flex;
    height: 500px;
    justify-content: center;
    font-family: "Victor Mono", system-ui;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
.gameBox {
    background-color: #98c1d9;
    padding: 30px;
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    border-radius: 12px;

    justify-content: center;
    align-content: center;

}



h1 {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;

}


button {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    border-radius: 12px;
    border: 3px solid #ee6c4d;
    background-color: #ee6c4d;
    padding: 13px;
    width: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
}

