body {
    background-color: #293241;
    display: flex;
    flex-direction: column;
    font-family: "Victor Mono", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.gameBox {
   
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
}
    

 





h1 {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;

}


button {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    border-radius: 12px;
    border: 3px solid aliceblue;
    background-color: aliceblue;
    padding: 13px;
    width: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
}


